option(value="en") English
option(value="fr") French
option(value="ht") Haitian Creole
option(value="ja") Japanese
option(value="zh") Mandarin Chinese
option(value="ne") Nepali
option(value="es") Spanish
