doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title OSM City Namer
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .col-sm-12
          h2.centered City Namer
          h4.centered
            span Adding placenames across OpenStreetMap
            br
            br
            a.btn.btn-primary.btn-lg(href="/app") Demo App
            span &nbsp;&nbsp;&nbsp;&nbsp;
            a.btn.btn-default.btn-lg(href="/login") Log In with OpenStreetMap
            hr
      .row
        .col-sm-6
          h4 Adding local placenames
          p Remote and foreign mappers mean well, but may use their own languages to label and define OpenStreetMap's placenames around the world.
          p When viewing a region in the project-mapper, larger cities and placenames are translated before smaller towns and neighborhoods.
          p This method can also be used to promote minority languages and create maps in different scripts.
        .col-sm-6
          h4 Adding alternate placenames
          p As OpenStreetMap is used in professional, commercial, and emergency situations, it's important to have the map labels be legible by users from all over the world.
          p 
      .row
        .col-sm-6
          h4 Getting Involved
          p
            span Help write&nbsp;
            a(href="https://github.com/Georeactor/city-namer/") City-Namer
            span &nbsp; on GitHub.
          
