doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    title OSM City Namer
    link(rel="stylesheet", href="/lib/bootstrap.min.css")
    link(rel="stylesheet", href="/custom.css")
  body
    .container
      .row
        .col-sm-12
          h2.centered City Namer
          h4.centered Adding placenames across OpenStreetMap
      .row
        .col-sm-6
          .well
            h4 Do you have an OpenStreetMap account?
            p
              span First, make sure to&nbsp;
              a.btn.btn-primary(href="https://www.openstreetmap.org/user/new") Register on OpenStreetMap
              span .
            hr
            h4 Once you have that:
            a.btn.btn-primary(href="/auth/openstreetmap") Connect to OpenStreetMap
        .col-sm-6
          h4 What is this?
          p names.georeactor.com is an experimental, open source project to add placenames to OpenStreetMap.
              
