.centered {
  text-align: center;
}

#map {
  width: 100%;
  min-height: 100px;
  height: 300px;
  height: 60vh;
  margin: 0;
  padding: 0;
}

.mobile-only {
  display: none;
}

@media (max-width: 900px) {
  .mobile-only {
    display: inline;
  }
}
